.main-nav{
	background-color: #188ae0;
}

.main-menu {
	background-color: #188ae0;
}

.main-submenu {
	background-color: #035898;
}

.main-menu-item > a:hover {
	background-color: #035898;
}

.main-menu-items > li > a{
	border-bottom: 1px solid #91a6bc;
}

.main-menu-items > li > a:hover {
	background-color: #035898;
	
}